<div class="flex flex-col">
  <div class="flex pt-6 px-6 w-full justify-between items-center">
    <div>
      <div class="flex items-center gap-2">
        <mat-icon svgIcon="heroicons_outline:user-add" class="!text-primary" />
        <h4 class="text-xl font-medium">Add Team Member</h4>
      </div>
      <p class="text-xs text-gray-500">Fill in the details below to add a new team member.</p>
    </div>

    <button
      (click)="closeDialog()"
      class="flex rounded-full h-8 w-8 items-center justify-center hover:bg-accent cursor-pointer"
      type="button"
    >
      <mat-icon svgIcon="heroicons_outline:x"></mat-icon>
    </button>
  </div>

  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="p-6">
    <div class="space-y-4">
      <div class="border-b pb-2 text-sm flex items-center gap-2 text-gray-600 dark:text-gray-300">
        <mat-icon
          svgIcon="heroicons_outline:user"
          class="!text-gray-600 dark:!text-gray-300 !h-4"
        />
        <p class="uppercase">Personal Information</p>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 max-sm:gap-8">
        <!-- Name Input using your reusable component -->
        <app-form-input [config]="nameConfig" [control]="$any(name)" formControlName="name">
        </app-form-input>

        <!-- Email Input using your reusable component -->
        <app-form-input [config]="emailConfig" [control]="$any(email)" formControlName="email">
        </app-form-input>
      </div>
    </div>

    <div class="mt-8 space-y-4">
      <div class="border-b pb-2 text-sm flex items-center gap-2 text-gray-600 dark:text-gray-300">
        <mat-icon
          svgIcon="heroicons_outline:briefcase"
          class="!text-gray-600 dark:!text-gray-300 !h-4"
        />
        <p class="uppercase">Employment Details</p>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 max-sm:gap-8 gap-4">
        <!-- Department Dropdown using your reusable component -->
        <app-form-input
          [config]="departmentConfig"
          [control]="$any(department)"
          formControlName="department"
        >
        </app-form-input>

        <!-- Date of Joining using your reusable component -->
        <app-form-input
          [config]="dateOfJoiningConfig"
          [control]="$any(dateOfJoining)"
          formControlName="dateOfJoining"
        >
        </app-form-input>
      </div>
    </div>

    <div class="flex w-full justify-end mt-16 items-center gap-4">
      <button
        class="h-10 px-4 rounded-sm font-semibold cursor-pointer"
        type="button"
        (click)="closeDialog()"
      >
        Cancel
      </button>
      <button
        class="bg-primary text-white h-10 px-4 rounded-sm font-semibold cursor-pointer disabled:bg-primary/50"
        type="submit"
        [disabled]="employeeForm.invalid"
        [class.disabled]="employeeForm.invalid"
      >
        Save Member
      </button>
    </div>
  </form>
</div>
