/* Variables */
$navigation-width: 280;
/* Main layout : Encaptulated components ui */
layout {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  max-width: 100%;
  min-width: 0;

  /* Base styles for individual layouts */
  > * {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    width: 100%;
  }

  /* Base styles for components that load as a route */
  router-outlet {
    + * {
      position: relative;
      display: flex;
      flex: 1 1 auto;
      width: 100%;
    }
  }
}

/* Naviagtion Styles */
navigation {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  top: 0;
  width: #{$navigation-width}px;
  min-width: #{$navigation-width}px;
  max-width: #{$navigation-width}px;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  z-index: 200;

  &.navigation-animations-enabled {
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-property: visibility, margin-left, margin-right, transform, width, max-width,
      min-width;

    /* Wrapper */
    .navigation-wrapper {
      transition-duration: 400ms;
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
      transition-property: width, max-width, min-width;
    }
  }

  &.navigation-sm {
    position: absolute;
  }

  &.navigation-opened {
    margin-left: 0;
  }
  &.navigation-closed {
    margin-left: -#{$navigation-width}px;
  }
}

.navigation-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 170;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Dialog ui */
app-dialog {
  // Overlay
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;

  .dialog-animation {
    animation: dialogScale 0.25s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
    transform-origin: center;
    opacity: 0;
  }

  @keyframes dialogScale {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.form-input-wrapper {
  position: relative;
  .form-text-input {
    position: relative;
    input {
      width: 240px;
      border: 1px solid var(--input);
      height: 40px;
      border-radius: 8px;
      padding: 0 12px;

      @media (max-width: 640px) {
        width: 100%;
      }

      &:focus {
        outline: none;
        border-color: var(--primary);
        box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.15);
      }

      &::placeholder {
        color: var(--input);
      }
    }
    .form-label {
      font-weight: 500;
    }
  }

  .input-with-icon {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    height: 40px;
    padding: 0 8px;
    border: 1px solid var(--input);
    @media (max-width: 640px) {
      width: 100%;
    }
    &:focus-within {
      outline: none;
      border-color: var(--primary);
      box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.15);
    }
    input {
      &::placeholder {
        color: var(--input);
      }
    }
  }

  .error-message {
    position: absolute;
    bottom: -20px;
    inset-inline: 0px;
    font-size: 12px;
    font-weight: 600;
    color: oklch(63.7% 0.237 25.331);
  }
}

.dropdown-select {
  width: 240px;
  border: 1px solid var(--input);
  height: 40px;
  border-radius: 8px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  &:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.15);
  }
  @media (max-width: 640px) {
    width: 100%;
  }
}

.dropdown-menu {
  position: absolute;
  overflow: hidden;
  top: calc(100% + 4px);
  border-radius: 12px;
  inset-inline: 0;
  height: 200px;
  z-index: 20;
  background-color: var(--card);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

app-dashboard {
  display: flex;
  height: 100%;
}

app-search {
  display: flex;
  width: 100%;
}

app-table {
  height: 100%;
}

/* Basic styling https://stackoverflow.com/questions/68789475/how-can-i-style-checkbox-with-css */

[type='checkbox'] {
  width: 1rem;
  height: 1rem;
  color: var(--primary);
  vertical-align: middle;
  -webkit-appearance: none;
  background: none;
  border: 0;
  outline: 0;
  flex-grow: 0;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background 300ms;
  cursor: pointer;
}

/* Pseudo element for check styling */

[type='checkbox']::before {
  content: '';
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #ccd3d8;
}

/* Checked */

[type='checkbox']:checked {
  background-color: currentcolor;
}

[type='checkbox']:checked::before {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

/* Disabled */

[type='checkbox']:disabled {
  background-color: #ccd3d8;
  opacity: 0.84;
  cursor: not-allowed;
}

/* IE */

[type='checkbox']::-ms-check {
  content: '';
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #ccd3d8;
}

[type='checkbox']:checked::-ms-check {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

.scrollable {
  scrollbar-gutter: stable;
  scrollbar-color: gray transparent;
  transition: scrollbar-color 0.1s ease-out;
}
